<nav class="app-nav fixed-top">
  <div class="app-nav-content">

    <!--MENU TOGGLE-->
    <div class="menu-toggle" (click)="onMenuBarClick.emit()" [@menuToggle]='menuState'>
      <fa-icon [icon]="icons.faBars"></fa-icon>
    </div>

    <div class="content-wrapper">

      <!--LOGO-->
      <div class="logo-wrapper">
        <img class="logo" src="assets/logo.png" alt="">
      </div>

      <div class="actions">
        <div class="search-wrapper">
          <fa-icon [icon]="icons.faSearch"></fa-icon>
          <input type="text" class="search" placeholder="Ara">
        </div>

        <!--AUTH-->
        <div class="auth-wrapper">

          <div class="auth-action" [routerLink]="['/auth/logout']">
            <div class="auth-action-logo">
              <fa-icon [icon]="icons.faSignOutAlt"></fa-icon>
            </div>
            <div class="auth-action-content">
              Çıkış Yap
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="header-toggle" (click)="toggleHeader()" [@headerToggle]='headerState'>
      <fa-icon [icon]="icons.faCaretSquareDown"></fa-icon>
    </div>

  </div>

  <div class="extended" *ngIf="headerIsOpen" [class.open]="headerIsOpen">
    <div class="search-wrapper extend">
      <fa-icon [icon]="icons.faSearch"></fa-icon>
      <input type="text" class="search" placeholder="Ara">
    </div>

    <!--AUTH-->
    <div class="auth-wrapper">

      <div class="auth-action" [routerLink]="['/auth/logout']">
        <div class="auth-action-logo">
          <fa-icon [icon]="icons.faSignOutAlt"></fa-icon>
        </div>
        <div class="auth-action-content">
          Çıkış Yap
        </div>
      </div>
    </div>
  </div>
</nav>