.modal-header {
  background: linear-gradient(90deg, #2498d0 0%, #42d0c3 100%);
  color: white;
  border: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

:host {
  background: transparent;
}

.drag-box {
  background: white;
  border-radius: 20px;

}
