<div class="wrpr">

  <div #top class="top">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Company Name</a></li>
        <li class="breadcrumb-item"><a href="#">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Project Name</li>
      </ol>
    </nav>

    <div class="row">

      <div class="project-options">
        <div class="project-options-item">
          <div class="project-options-item-logo">
            <fa-icon [icon]="icons.faFilter"></fa-icon>
          </div>
          <span class="project-options-item-content">
            Filter
          </span>
        </div>
        <div class="project-options-item" (click)="showAddTaskModal()">
          <div class="project-options-item-logo">
            <fa-icon [icon]="icons.faPlus"></fa-icon>
          </div>
          <span class="project-options-item-content">
            New
          </span>
        </div>
        <div class="project-options-item">
          <div class="project-options-item-logo">
            <fa-icon [icon]="icons.faChartLine"></fa-icon>
          </div>
          <span class="project-options-item-content">
            Statistics
          </span>
        </div>
      </div>

      <!-- <pyu-status-summary-bar>

      </pyu-status-summary-bar> -->

    </div>

  </div>

  <div #statusList class="status-list" cdkDropListGroup>
    <div class="swiper-container"
      [swiper]="swiperConfig"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let st of project.statuses">
          <pyu-status-panel [status]=st (onTaskSelected)="handleTaskSelected($event)"></pyu-status-panel>
        </div>

      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev swpb" >
        <fa-icon [icon]="icons.faChevronLeft"></fa-icon>
      </div>
      <div class="swiper-button-next swpb">
        <fa-icon [icon]="icons.faChevronRight"></fa-icon>
      </div>
    </div>

  </div>

  <div class="bottom">

  </div>
</div>

<p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000">
  <pyu-task-detail [taskId]="selectedTaskId"></pyu-task-detail>
    <!-- <h1 style="font-weight:normal">Right Sidebar</h1>
    <button pButton type="button" (click)="visibleSidebar2 = false" label="Save" class="ui-button-success"></button>
    <button pButton type="button" (click)="visibleSidebar2 = false" label="Cancel" class="ui-button-secondary"></button> -->
</p-sidebar>
