<!-- <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="true" [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false" [disabled]="dissco"> -->
<div #statusList class="status-list" cdkDropListGroup>
  <div class="swiper-container" [disabled]="disabled" [swiper]="config" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')"
    (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
    <div class="swiper-wrapper" (click)="upd()">
      <div class="swiper-slide">

        <pyu-status-panel [statusId]=1></pyu-status-panel>
      </div>
      <div class="swiper-slide">

        <pyu-status-panel [statusId]=2></pyu-status-panel>
      </div>
      <div class="swiper-slide">

        <pyu-status-panel [statusId]=3></pyu-status-panel>
      </div>
      <div class="swiper-slide">

        <pyu-status-panel [statusId]=4></pyu-status-panel>
      </div>
      <div class="swiper-slide">

        <pyu-status-panel [statusId]=5></pyu-status-panel>
      </div>
      <div class="swiper-slide">

        <pyu-status-panel [statusId]=6></pyu-status-panel>
      </div>
    </div>

    <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
    <div class="swiper-pagination" [hidden]="config.pagination === false"></div>

    <div class="swiper-button-prev swpb" [hidden]="config.navigation === false">
      <fa-icon [icon]="icons.faChevronLeft"></fa-icon>
    </div>
    <div class="swiper-button-next swpb" [hidden]="config.navigation === false">
      <fa-icon [icon]="icons.faChevronRight"></fa-icon>
    </div>
  </div>
  <!-- <pyu-status-panel [statusId]=2></pyu-status-panel>
    <pyu-status-panel [statusId]=3></pyu-status-panel>
    <pyu-status-panel [statusId]=4></pyu-status-panel>
    <pyu-status-panel [statusId]=5></pyu-status-panel>
    <pyu-status-panel [statusId]=6></pyu-status-panel> -->


</div>

<!-- </ng-scrollbar> -->
