<div class="sidebar"  [@sideMenuAnime]='menuState' (@sideMenuAnime.start)="animationStart($event)">

  <div class="logobar-wrapper">
    <div class="logobar">
      <span [@minilogoAnime]='menuState'>GÜRKAN</span>
    </div>
  </div>

  <div class="avatar-wrapper">
    <div class="avatar"  [@avatarAnime]='menuState' [style.background-image]="'url(' +'assets/profilepicture.png' + ')'">
    </div>
  </div>


  <div class="menu-actions" >
    <div class="menu-action"  [routerLink]="['/pages/schedules']" routerLinkActive="active">
      <div class="logo">
        <fa-icon [icon]="icons.faColumns"></fa-icon>
      </div>
      <div class="content">
        Dashboard
      </div>
    </div>

    <div class="menu-action" [routerLink]="['/pages/faculties']"
      routerLinkActive="active">
      <div class="logo">
        <fa-icon [icon]="icons.faTasks"></fa-icon>
      </div>
      <div class="content">
        Projects
      </div>
    </div>

    <div  class="menu-action" [routerLink]="['/pages/departments']"
      routerLinkActive="active">
      <div class="logo">
        <fa-icon [icon]="icons.faCalendarAlt"></fa-icon>
      </div>
      <div class="content">
        Calendar
      </div>
    </div>
    <div class="menu-action"  [routerLink]="['/pages/lessons']" routerLinkActive="active">
      <div class="logo">
        <fa-icon [icon]="icons.faUndoAlt"></fa-icon>
      </div>
      <a class="content">
        History
      </a>
    </div>
    <div class="menu-action"
      [routerLink]="['/pages/constraints']" routerLinkActive="active">
      <div class="logo">
        <fa-icon [icon]="icons.faUsers"></fa-icon>
      </div>
      <div class="content">
        Negotiation
      </div>
    </div>

    <div class="menu-action"  [routerLink]="['/pages/instructors']" routerLinkActive="active">
      <div class="logo">
        <fa-icon [icon]="icons.faQuestion"></fa-icon>
      </div>
      <a class="content">
        Q/A
      </a>
    </div>
    <div class="menu-action" [routerLink]="['/pages/locations']"
      routerLinkActive="active">
      <div class="logo">
        <fa-icon [icon]="icons.faExclamationTriangle"></fa-icon>
      </div>
      <a class="content">
        Issues
      </a>
    </div>


  </div>
</div>

<div class="sidebar-holder" [@sideMenuAnime]='menuState'>
</div>
