<div class="page-wrapper">
  <div class="row">
    <div class="header-wrapper">
      <app-header></app-header>
    </div>
  </div>

  <div class="middle-wrapper">
    <div class="menu-wrapper" mwlResizable [validateResize]="validate" [enableGhostResize]="true"
      [resizeEdges]="{right: true}" (resizeEnd)="handleResizeEnd($event)" [ngStyle]="style"
      [resizeSnapGrid]="{ left: 5, right: 5 }">
      <div class="resize-handle-right" mwlResizeHandle [resizeEdges]="{ right: true }">
        <i class="fas fa-grip-lines-vertical"></i>
      </div>
      <app-side-menu (onActivate)="handleSubjectSelected($event)" [options]="options" (onNodeMove)="handleNodeMove($event)"
        [(nodes)]="nodes" (onAddFolderSelect)="handleAddFolderSelect($event)"></app-side-menu>

    </div>

    <div class="cont-wrapper">
      <div class="content-wrapper">
        <p-breadcrumb [model]="brItems" [home]="home"></p-breadcrumb>
        <p-tabMenu [activeItem]="activeTabItem" [model]="tabItems">
          <ng-template pTemplate="item" let-item let-i="index">
            <div style="position: relative; text-align: center; min-width: 10em" (click)="handleTabClick(item)">
              <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
              <div class="ui-menuitem-text">
                {{item.label}}
              </div>
            </div>
          </ng-template>
        </p-tabMenu>
        <router-outlet></router-outlet>

      </div>
      <div class="footer-wrapper">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>

<pyu-add-folder-form (onSubjectAdded)="handleSubjectAdded($event)" [(display)]="display.addFolderForm"
  [workspaceId]="workspaceId" [defaultParent]="selectedMenuSubject"></pyu-add-folder-form>