<section class="clear">

  <div id="userlogin" class="withmargins">
    <div class="left">
      <form action="" class="content">
        <h2>Hello</h2>
        <p>Ready to start tracking your personal stats? Sign in or sign up, it just takes a second.</p>
        <label class="fill top" for="email">
          <input type="email" name="email" id="email">
          <span>email</span>
        </label>

        <label class="fill " for="phone">
          <input type="text" name="phone" id="phone">
          <span>phone</span>
        </label>

        <label class="fill " for="first name">
          <input type="text" name="first name" id="first name">
          <span>first name</span>
        </label>

        <label class="fill " for="last name">
          <input type="text" name="last name" id="last name">
          <span>last name</span>
        </label>

        <label class="fill " for="password">
          <input type="password" name="password" id="password">
          <span>password</span>
        </label>


        <label class="fill bottom" for="validate-password">
          <input type="password" name="validate-password" id="validate-password">
          <span>validate password</span>
        </label>

        <div class="submit">
          <label for="signup"><input type="submit" value="sign up" id="login"></label>
        </div>
        <p class="smallinfo">Your data will not be used outside of lorem.com. By signing up you agree that your
          statistics may be used anonymously inside lorem.com.</p>

      </form>
    </div>
  </div>
</section>
