<div #area class="wrpr">
  <div #top class="top">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-brc">
        <li class="breadcrumb-item"><a href="#">Company Name</a></li>
        <li class="breadcrumb-item"><a href="#">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Project Name</li>
      </ol>
    </nav>

    <div class="row options-wrapper">

      <div class="project-options">
        <div class="project-options-item" (click)="visibleTree = true">
          <div class="project-options-item-logo">
            <fa-icon [icon]="icons.faFolder"></fa-icon>
          </div>
          <span class="project-options-item-content">
            Explorer
          </span>
        </div>
        <div class="project-options-item">
          <div class="project-options-item-logo">
            <fa-icon [icon]="icons.faFilter"></fa-icon>
          </div>
          <span class="project-options-item-content">
            Filter
          </span>
        </div>
        <div class="project-options-item" (click)="showAddTaskModal()">
          <div class="project-options-item-logo">
            <fa-icon [icon]="icons.faPlus"></fa-icon>
          </div>
          <span class="project-options-item-content">
            New
          </span>
        </div>
        <div class="project-options-item">
          <div class="project-options-item-logo">
            <fa-icon [icon]="icons.faChartLine"></fa-icon>
          </div>
          <span class="project-options-item-content">
            Statistics
          </span>
        </div>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            Templates <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" (click)="showAddStatusTemplateModal()">Add Status Template</a></li>
            <li role="menuitem"><a class="dropdown-item">Add Tasks Template</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item">Show Status Templates</a>
            <li role="menuitem"><a class="dropdown-item">Show Tasks Templates</a>

            </li>
          </ul>
        </div>
      </div>



      <!-- <pyu-status-summary-bar>

      </pyu-status-summary-bar> -->

    </div>

  </div>

  <div #statusList class="status-list" cdkDropListGroup>
    <div class="swiper-container" [swiper]="swiperConfig">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let st of project.baseProject.statuses">
          <pyu-status-panel [status]=st (onTaskSelected)="handleTaskSelected($event)"></pyu-status-panel>
        </div>

      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev swpb" style="left:0">
        <fa-icon [icon]="icons.faChevronLeft"></fa-icon>
      </div>
      <div class="swiper-button-next swpb" style="right:0">
        <fa-icon [icon]="icons.faChevronRight"></fa-icon>
      </div>
    </div>

  </div>

  <div class="bottom">

  </div>

</div>

<p-sidebar [appendTo]="area" [(visible)]="visibleTree" position="left" [style]="{width:'25em'}" [baseZIndex]="10000" [dismissible]="false" [modal]="false">
  <h5>Project Explorer</h5>
  <div class="hide-bar" (click)="visibleTree=!visibleTree">
    <fa-icon [icon]="visibleTree ? icons.faChevronLeft : icons.faChevronRight"></fa-icon>
  </div>
  <p-tree [value]="filesTree2" selectionMode="single" [style]="{width:'100%',border:'0',margin:'0', padding:'0'}" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar" position="right" [style]="{width:'25em'}" [baseZIndex]="10000">
  <pyu-task-detail></pyu-task-detail>
</p-sidebar>
