<div #statusList id="stList" class="status-list" cdkDropListGroup>
  <div class="swiper-container" [swiper]="swiperConfig">
    <div class="swiper-wrapper">

      <div class="swiper-slide" *ngFor="let st of workflow.statuses">
        <pyu-status-panel [status]=st (onTaskSelected)="handleTaskSelected($event)"></pyu-status-panel>
      </div>

    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev swpb" style="left:0">
      <fa-icon [icon]="icons.faChevronLeft"></fa-icon>
    </div>
    <div class="swiper-button-next swpb" style="right:0">
      <fa-icon [icon]="icons.faChevronRight"></fa-icon>
    </div>
  </div>
</div>