<div #wrapper class="example-container">
  <div class="status-header">
    Status
  </div>

  <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="true" [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false">
    <div id={{statusId}} cdkDropList #listo [cdkDropListData]="items" class="example-list swiper-no-swiping" (cdkDropListDropped)="drop($event)">

      <div class="example-box" *ngFor="let item of items" cdkDrag>
        <div class="example-handle swiper-no-swiping" cdkDragHandle (mousedown)="msd($event)">
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
        <pyu-task-card></pyu-task-card>
      </div>
    </div>
  </ng-scrollbar>

</div>
