<div #wrapper class="example-container">
  <div class="status-header">
    {{status.title}}
  </div>
  <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="true" [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false" class=" swiper-no-swiping">
    <!-- <cdk-virtual-scroll-viewport ngScrollbarView smoothScroll itemSize="110" minBufferPx="440" maxBufferPx="880"> -->
      <div id={{status.id}} cdkDropList [cdkDropListData]="items" class="example-list swiper-no-swiping" (cdkDropListDropped)="drop($event)">

        <ng-container *ngFor="let item of items">
          <div class="example-box" cdkDrag id="{{item.id}}" #taskItem>
            <div class="example-handle swiper-no-swiping" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
            <pyu-project-card [project]="item" *ngIf="item.hasOwnProperty('prefix')"></pyu-project-card>
            <pyu-task-card *ngIf="!item.hasOwnProperty('prefix')" [task]="item" (onTaskSelected)="handleTaskSelected($event)"></pyu-task-card>
          </div>
        </ng-container>
      </div>
    <!-- </cdk-virtual-scroll-viewport> -->
  </ng-scrollbar>

</div>
